.place-input {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.search-box {
  display: flex;
  width: 100%;
}

.location-input {
  width: 100%;
  border: none;
  padding: 1rem; 
  outline: none;
  background-color: #eee;
  font-size: 100%;
}

.tip-list {
  border-left: 1px solid #4444;
  width: 100%;
  margin-left: .5rem;
  text-align: left;
}

.tip-item {
  cursor: pointer;
  margin: .5rem;
}

.tip-item__secondary-text {
  margin: 0;
  padding: .5rem;
  font-size: 90%;
  color: #2c3e50aa;
}

.tip-item__main-text {
  font-weight: bold;
  margin: 0;
}

.fa-icon {
  &.location-arrow {
    width: auto;
    height: 2em;
  }
}