@import "reset.scss";

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-color: #eee;
}

hr {
  margin: 0;
  width: 90%;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#nav {
  display: flex;
  justify-content: space-around;
  font-size: 140%;
  .router-link {
    padding: 1rem;
    background-color: #2c3e50;
    width: 100%;
    font-weight: bold;
    color: #eee;
    text-decoration: none;
    &.router-link-exact-active {
      border-bottom: .5rem solid #42b983;
    }
  }
}

.current-location-button {
  cursor: pointer;
  padding: 1rem; 
  border: none;
  color: #2c3e50;
  background-color: #eee;
  outline: none;
}
