$control-button-width: 3rem;
$control-container-right: .5rem;

#map {
    flex: auto;
}

#map-component {
    display: flex;
    flex: auto;
    flex-direction: column;
    position: relative;

    .cheap-or-fast {
        z-index: 1000;
        opacity: 0.85;
        position: absolute;
        bottom: 2rem;
        left: 0;
        right: #{$control-button-width + $control-container-right};
        display: flex;
        justify-content: space-evenly;
    }

    .direction-type-button {
        cursor: pointer;
        outline: none;
        border-radius: 15%;
        color: #eee;
        background-color: #2c3e50;
        border: none;
        padding: .5rem;
        font-weight: bold;
        text-align: left;
        border-bottom: .5rem solid #2c3e50;

        &.active {
            border-bottom: .5rem solid #42b983;
            pointer-events: none;
        }
    }

    .direction-type-button__title {
        font-size: 135%;
        margin-bottom: .5rem;
    }

    .direction-type-button__cost {
        font-size: 115%;
        text-align: right;
    }

    .direction-type-button__secondary-text {
        font-size: 100%;
        text-align: right;
    }

    .control-container {
        position: absolute;
        z-index: 1;
        bottom: 2rem;
        right: $control-container-right;
        display: flex;
        flex-direction: column;
    }

    .control-btn {
        width: $control-button-width;
        height: $control-button-width;
        padding: .5rem;
        border-radius: 50%;
    }

}